* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /*светло-голубой цвет*/
    background: url(/images/fon2.svg);
    background-repeat: repeat;
    background-size: 160%;
}

.header {
    background-color: #1C7ECC; /*светло-серый цвет*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header button {    
    background-color: #fff; /*белый цвет*/
    color: #000; /*черный цвет*/
    border: 2px solid #000; /*черная рамка*/
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: %;
    height: %;
    border-radius: 50px;
    font-size: 1em;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;   
}

input {
    height: 100%;
    width: 50%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.column button {
    background-color: #1C7ECC; 
    color: #fff; 
    border: 0px solid #000; /*черная рамка*/
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 20%;
    height: 100%;
    border-radius: 15px;
    font-size: 1em;
    box-shadow: 0px 0px 25px 10px rgba(34, 60, 80, 0.3);
}

.profile-container {
    height: 100%;
    width: 100%;
    padding-left: 1%;
    margin-left: 0%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.profile-container1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 20px;
    
    background-color: #f5f5f5;
    border-radius: 50px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.cube{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
}

img {
    height: 200px;
    width: 200px;
}

h1 {
    margin: 1%;
}

h2 {
    margin: 4%;  
}

h3 {
    margin: 2%;  
}

h4 {
    margin: 1%;
}

.column {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0% 0% 0% 0%;
    display: flex;
        
}

.column h2 {
    margin-bottom: 10px;
}

.column img {
    max-width: 30%;
    height: auto;
}

.spisok {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer {
    background-color: #333; /*темно-серый цвет*/
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.notification {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
}